body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.facebook {
    background-color:rgb(238, 234, 234);
    color: rgb(5, 5, 5);
}

.google {
    background-color:rgb(238, 234, 234);
    color: rgb(5, 5, 5);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

label {
    text-align: left;
}

.Button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
